#game-container {
    flex: 1;
}

#gameboard {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}




#foundationTop {
    /* For the position of the top foundation card on the gameboard */
}

#player-hand {
    background-color: blue;
}

#computer-hand-1 {
    background-color: blueviolet;
}

#computer-hand-2 {
    background-color: red;
}

#computer-hand-3 {
    background-color: yellow;
}

.card-back {
    width: 71px;
    height: 98px;
    object-fit: cover;
}